[project]
name = "ml"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
	"numpy>=1.24",
	"scipy>=1.10",
	"matplotlib>=3.7",
	"ipykernel>=6.0",
	"notebook>=6.5"
]
